[Unit]
Description=Si5345 clock programming at startup
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/emp/current/emp-tools/bin/clkProgrammer -c
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
